@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* Body styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: black;
  background-color: beige;
}

/* Navbar styles */

.header {
  display: flex;
  text-align: center;
  height: 65px;
  color: white;
  padding: 10px;
  background-color: black;
}

.header-title {
  font-size: 30px;
  margin-left: 15px;
  margin-right: auto;
  margin-top: 5px;
  text-shadow: 2px 2px 15px black;
}